<div class="container-fluid bg-warrning">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" width="200px">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-danger">Eat DA Burger!</h1>
        </div>
    </div>    

    <div class="row center-text">
        <div class="col-md-2"></div>
        <div class="col-md-4" id="nList">I am text</div>
        <div class="col-md-4" id="dList">Right</div>
        <div class="col-md-2"></div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <input id="newburger" type="text" value="" class="form-control input-lg"><br>
            <button id="submitbtn" class="btn btn-primary">Submit</button>
            <label class="success">Enter a burger you want to eat Click "Submit" button.</label>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>